body{
background-color: antiquewhite;
}

h1{
    font-size: 100px;
    text-align: center;
    color: black;
}
#name{
    font-size: 100px;
    color:purple    ;
    background-color: red;
    border: black 2px solid;
}
#headline{
    font-size: 30px;
    color: black;

}
#dimension{
    height: 700px;
    width: 600px;
}
#musicpic{
    height:800px;
    width: 700px;
}
#musicname{
    font-size: 30px;
    color:black ;
}
#link{
    font-size: 30px;
    color:black ;
}
#media{
    font-size: 30px;
    color: blueviolet;
}
#anthem{
    font-size: 20px;
    color:black;
    background-color: rebeccapurple;
    border: black 2px solid;
    text-align: center;
}