body{
    background-color: lightblue;

}
.money{
    font-size: large;

}
h1{
    text-align: center;
    font-size: 200px    ;
}
.name{
    font-size: 100px;
    background-color: aqua;
}
#dimension{
    height:700 px;
    width: 600px;
}
#dangote{
    font-size: 30px;
}

